* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: 21.7px;
  color: black;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
.header {
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  height: 68px;
  box-shadow: 0px 1px 4px 0px rgba(21, 34, 50, 0.08);
  color: rgba(90, 96, 127, 1);
}
.bell {
  position: relative;
  margin-right: 36px;
}
.header span:nth-child(2) {
  font-weight: 700;
  font-size: 12px;
  height: 16px;
  width: 16px;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  background: rgba(30, 94, 255, 1);
  color: white;
  left: 10px;
  top: -5px;
}
.navigation {
  font-weight: 600;
  font-size: 12px;
  color: rgba(161, 167, 196, 1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 246, 250, 1);
  box-shadow: -1px 0px 0px 0px rgba(215, 219, 236, 1) inset;
}
.navigation p {
  margin-left: 16px;
  margin-top: 28px;
  margin-bottom: 12px;
}
.navigation span {
  font-weight: 700;
  font-size: 12px;
  height: 16px;
  width: 26px;
  border-radius: 50px 50px 50px 50px;
  background: rgba(19, 21, 35, 1);
  color: white;
  margin-left: 54px;
}
.user img:first-child {
  margin-right: 20px;
}
.user img:nth-child(3) {
  border-radius: 50%;
  background-color: rgb(216, 216, 216);
  margin-right: 12px;
}
.user {
  margin-left: 36px;
  font-size: 12px;
  padding-right: 28px;
  display: flex;
  align-items: center;
}
.user p {
  font-size: 14px;
  font-weight: 500;
  margin-right: 18px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  margin-right: 11.71px;
}
.search {
  align-items: center;
  flex-grow: 1;
  display: flex;
  margin-left: 100px;
}
.search__input {
  margin-left: 2px;
  font-weight: 500;
  font-size: 14px;
  border: none;
  outline: none;
}
.button img:first-child {
  margin-right: 16px;
  margin-left: 16px;
}
.button {
  min-width: 218px;
  cursor: pointer;
  font-weight: 500;
  color: rgba(90, 96, 127, 1);
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 44px;
  background-color: rgba(28, 28, 28, 0);
  border: none;
  border-radius: 5px;
}
.button:default,
.count-liked__button:default {
  background-color: rgba(217, 228, 255, 1);
  color: blue;
}
.button:disabled,
.count-liked__button:disabled {
  background-color: rgba(215, 219, 236, 1);
  color: white;
}
.button:focus,
.count-liked__button:focus {
  background-color: rgba(217, 228, 255, 1);
  color: blue;
}
.button:hover,
.count-liked__button:hover {
  background-color: rgba(236, 242, 255, 1);
  color: blue;
}
.button:active,
.count-liked__button:active {
  background-color: rgba(217, 228, 255, 1);
  color: blue;
}

.page {
  display: flex;
}
.main {
  background-color: white;
  padding: 28px;
  border-radius: 5px;
}
.main-content :first-child {
  text-align: center;
  margin-bottom: 30px;
}
.content-list h3 {
  margin-bottom: 24px;
}
.main-content img {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 2%;
}
.main-content p:first-of-type {
  margin-bottom: 28px;
  color: rgb(172, 169, 169);
}
.main-content p:last-of-type {
  margin-top: 28px;
  color: rgb(172, 169, 169);
  margin-bottom: 40px;
}
.main-content p:first-of-type:hover {
  color: black;
}
.main-content p:last-of-type:hover {
  color: black;
}

.setting-profile {
  padding-left: 40px;
  padding-top: 29px;
  background: rgba(245, 246, 250, 1);
}
.setting-profile h2 {
  margin-bottom: 30px;
}
.setting-profile__buttons {
  width: 255px;
  height: 44px;
}
.setting-profile__buttons button {
  width: 255px;
  padding-left: 20px;
}
.content__input {
  font-size: 14px;
  margin-bottom: 4px;
  height: 40px;
  background-image: url("/img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 16px;
  padding-left: 48px;
  border-radius: 5px;
  border: 1px solid rgba(217, 225, 236, 1);
  outline: none;
}
.content__input::placeholder {
  color: rgba(161, 167, 196, 1);
}
.content hr:last-of-type {
  border: 1px solid;
  color: rgba(230, 233, 244, 1);
  display: none;
}
.content {
  line-height: 24px;
  padding-left: 30px;
  padding-top: 72px;
  padding-right: 40px;
  width: 100%;
  box-shadow: -1px 0px 0px 0px rgba(215, 219, 236, 1) inset;
  background: rgba(245, 246, 250, 1);
  display: flex;
  flex-direction: column;
}
.content-list {
  font-size: 16px;
  background-color: white;
  padding: 28px;
  padding-bottom: 0;
  border-radius: 5px;
}
.content-list p:nth-child(2) {
  margin-top: 24px;
  margin-bottom: 20px;
}
.recommendation-text {
  font-weight: 500;
  color: rgba(90, 96, 127, 1);
  background-color: rgba(245, 246, 250, 1);
  height: 10%;
  padding: 20px;
  border-radius: 5px;
}
.recommendation-text p:first-child {
  margin-bottom: 4px;
}
.content-list hr {
  color: rgba(230, 233, 244, 1);
  margin-top: 28px;
  border: 1px solid;
}
.starting-work,
.additional-information,
.count-liked {
  padding-top: 40px;
}

.additional-information h3 {
  margin-bottom: 12px;
}
.additional-information p:last-child {
  padding-bottom: 28px;
  margin-top: 20px;
}
.additional-information div:first-of-type {
  color: rgba(30, 94, 255, 1);
  padding: 16px 0px 16px 0px;
}
.additional-information div {
  color: rgba(90, 96, 127, 1);
}
.tabs {
  display: flex;
  border-bottom: 1px solid rgba(230, 233, 244, 1);
  margin-bottom: 20px;
  position: relative;
}

.tab {
  cursor: pointer;
  padding: 16px 30px;
  background-color: rgba(28, 28, 28, 0);
  border: none;
  font-size: 16px;
}
.hide-tabs {
  display: none;
}
.hide {
  left: -100%;
}
.tab-indicator {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 4px;
  background-color: rgba(30, 94, 255, 1);
  transition: left 0.3s ease;
  width: 66px;
}

.count-liked__button {
  cursor: pointer;
  font-size: 14px;
  color: blue;
  width: 65px;
  height: 36px;
  margin-bottom: 12px;
  margin-right: 12px;
  background-color: white;
  border: 1px solid rgba(215, 219, 236, 1);
  border-radius: 5px;
}
.count-liked h3 {
  margin-bottom: 20px;
}
.count-liked {
  font-size: 12px;
  padding-left: 28px;
  padding-bottom: 40px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 5px;
  display: none;
}
.info-block {
  display: flex;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 14px;
}

.community {
  border-radius: 5px;
  padding: 28px;
  background-color: white;
  width: 50%;
}
.info-block div:first-child {
  margin-right: 29px;
}
.info-block button {
  color: blue;
  border: none;
  background-color: white;
  font-weight: 500;
}
.community p:nth-child(2) {
  margin-top: 12px;
  margin-bottom: 20px;
}

ol {
  list-style: none;
  position: relative;
  padding-left: 60px;
}
li {
  counter-increment: item;
  margin-bottom: 20px;
}
li:before {
  content: counter(item);
  background: rgba(245, 246, 250, 1);
  color: black;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: -5px;
  line-height: 35px;
  font-size: 16px;
}
@media (max-width: 976px) {
  body {
    width: 100%;
  }
  h1 {
    display: none;
  }
  .header {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding-left: 0px;
  }
  .logo {
    margin: auto;
    padding: 0;
  }
  .bell {
    margin: auto;
  }
  .user {
    margin: auto;
    padding: 0;
  }
  .user img:first-child {
    margin: auto;
  }
  .user p {
    margin: auto;
  }
  .search {
    min-width: 100px;
    margin-left: 0px;
  }
  .page {
    display: flex;
    flex-direction: column;
  }
  .community {
    padding: 2%;
  }
  .navigation,
  .setting-profile {
    position: fixed;
    z-index: 1;
    height: 100%;
    left: 0;
    top: 68px;
    width: 100%;
    transition: left 0.5s;
  }
  .navigation img:nth-child(2) {
    position: relative;
    left: 60%;
  }
  .hide {
    left: -100%;
  }
  .menuMobile p {
    padding-bottom: 12px;
    padding-top: 20px;
    margin-left: 16px;
  }
  .burger {
    display: flex;
    width: 30px;
    height: 15px;
    margin-left: 10px;
    position: relative;
    align-items: center;
  }

  .burger span {
    height: 2px;
    width: 70%;
    background-color: black;
    cursor: pointer;
    transform: scale(1);
  }
  .burger.active span {
    transform: scale(0);
  }
  .burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 70%;
    transition: all 0.3s ease 0s;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .ol li {
    padding-left: 2%;
  }
}
